Options -Indexes
DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^$ api.php?action=page [L]
  RewriteRule ^admin/$ admin [R=302,L]
  RewriteRule ^admin$ api.php?action=page [L]
</IfModule>

<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
</IfModule>
